<h1>this is home</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id eros ut nunc venenatis facilisis. 
    Maecenas ullamcorper ut dolor a mollis. Integer vitae feugiat lacus, sit amet pharetra risus. 
    Proin turpis nibh, convallis sed accumsan non, rhoncus id arcu. Nullam auctor dolor at eros 
    facilisis tincidunt. Morbi auctor hendrerit ante. Nullam sed turpis non eros mattis 
    consectetur. Curabitur dapibus elit in malesuada dignissim. Donec sit amet cursus dolor.</p>

    <h1>Register</h1>
    <form>
        <h2>username</h2>
        <input type="username" name="" value="">

        <h2>password</h2>
         <input type="password" name="" value="">
        
         <button type="">Register me</button>

         <a href="/auth/facebook">signup or login with facebook</a>
    </form>

    <h3>Log in</h3>