<div class="main-view container">
        <h1>Magic Made Easy</h1>
        <p>Deckster allows you to assemble and save your very own Magic: The Gathering
            decks from 25 years of card history. Sign up today and see what Deckster can do for you.</p>
        
            <h1>Sign Up</h1>
            
            <div class="container-fluid text-center signup-container"  >
                <form action="/login" method="post">
                    <div>
                        <label>Username:</label> <br>
                        <input type="text" name="username" style="color: black"/>
                    </div>
                    <div>
                        <label>Password:</label> <br>
                        <input type="password" name="password" style="color: black"/>
                    </div>
                    <div>
                        <input type="submit" value="Log In" style="color: black"/>
                    </div>
                </form>
        
                <br>
                    <a href="/auth/facebook" class="btn btn-primary btn-lg facebook-signin">Continue with facebook</a> 
                                <!-- <a ng-click="loginWithFacebook()">signup or login with facebook</a> -->
                <br>
        
        
            </div>
</div>




    <!-- <div class="container-fluid text-center signup-container" >
        <form>
            <h2>username</h2>
            <input type="username" name="" value="">

            <h2>password</h2>
            <input type="password" name="" value="">
            <br>
            <br>
            <button type="" class="btn btn-success register-button">Register</button>
            
            <br>

            <a href="/auth/facebook" class="btn btn-primary facebook-signin">Continue with facebook</a> 
                        <!-- <a ng-click="loginWithFacebook()">signup or login with facebook</a> -->
            <!-- <br>

            <button type="" class="btn-secondary login-button" data-toggle="modal" data-target="#loginModal">Log In</button>
    
        </form>

    </div> --> 

    <!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Hey the Modal worked!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

