

<ul id="links" >
    <li>
        <div>
             <a class="active" ui-sref="home" ui-sref-active="active">Home</a>
        </div>
    </li>
    <li>
        <div>
             <a class="active" ui-sref="cardSearch" ui-sref-active="active">Card Search</a>
        </div>    
    </li>
    <li>
        <div>
            <a class="active" ng-click="changeLoginStatus()" ui-sref-active="active">{{loginStatus}}</a>
        </div>    
    </li>                                                                                           
</ul>

<!-- <ul id="links" >
    <li>
        <div>
             <a class="active" ui-sref="home" ui-sref-active="active">Home</a>
        </div>    
    </li>
    <li>
        <div>
             <a class="active" ui-sref="cardSearch" ui-sref-active="active">Card Search</a>
        </div>    
    </li>
    <li>
        <div>
            <a class="active" ui-sref="deckBuilder" ui-sref-active="active">Deck Builder</a>
        </div>    
    </li>
    <li>
        <div>
            <a class="active" ui-sref="deckCollection" ui-sref-active="active">Deck Collection</a> 
        </div>    
    </li>
    <li>
        <div>
            <a class="active" ng-click="changeLoginStatus()" ui-sref-active="active">{{loginStatus}}</a>
        </div>    
    </li>                                                                                           
</ul> -->